 body { 
  padding: 40px 50px 0 50px;
  background-color: black;
  font-size: 15px;
  line-height: 1.428;

}
/*NAVBAR*/
  .navbar-default{
    background-color:  #696969;
  }
  .nav-pills{
    font-family: 'Signika Negative', sans-serif;
    margin: 0px 90px 0;
  }
   .navbar-default .nav-pills li a {
    color: white;
    display: inline-block;
    margin-left: 100px;
    font-size: 1.5em;
   }
   .logo img{
    margin: 15px 0 0 90px;
   }


    hr  {
     width:75%;
      height:1px; 
      background: red; 
    }

  h1{
    font-weight: 1.5em;
    font-size: 1.5em;
    margin-left: 150px;
    margin-top: 0px;

  }
  h2{
    margin-top: 100px;
    font-weight: 0.5em;
    font-size: 1.0em;
    margin-left: 400px;
    margin-top: 0px;

  }
  .section{
 background-color: #fff;
      padding:10px 0 0px 10px;
      margin-top: 0px;
}
  .section  li{
  margin-left: 100px;
  padding-bottom: 140px;
 }
 .section a{
  float: right;
  margin-right:100px; 
  padding: 5px;


}
.section a:hover{
  color: #1E90FF;

}


  

  .bigger{
  font-size: 2.5em;
}
blockquote{
  border-color: #FFDAB9;
}


.col-md-7{
  
  padding-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
 }
 .col-md-2{
  
  background-color:#FFDAB9;
  padding: 40px;
  margin-left: 50px;
  margin-right: 0px;
  border: 5px;
 }
